header {
  display: flex;
  margin: 0;
  background-image: url(https://cdn.pixabay.com/photo/2020/04/08/19/04/tennis-5018589_1280.jpg);
  background-size: cover;
  height: 100vh;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: blue;
  padding: 20px;
}
.nav1 {
  color: azure;
  font-size: xx-large;
}

.button1 {
  height: 5%;
  color: blueviolet;
  position: absolute;
  top: 30%;
  left: 100px;
  background-color: white;
  border: none;
  border-radius: 20%;
  font-size: x-large;
}
.button2 {
  height: 5%;
  color: blueviolet;
  position: absolute;
  top: 30;
  left: 100px;
  background-color: white;
  border: none;
  border-radius: 20%;
  font-size: x-large;
}
.button3 {
  color: blueviolet;
  position: absolute;
  bottom: 0;
  left: 100px;
  background-color: white;
  border: none;
  border-radius: 20%;
  font-size: x-large;
}

.Text1 {
  color: rgb(166, 235, 187);
  position: absolute;
  top: 50%;
  left: 100px;
  background-color: none;
  border: none;
  width: 300px;
  font-size: xx-large;
}
.Text2 {
  color: rgb(0, 37, 0);
  position: absolute;
  top: 70%;
  left: 100px;
  background-color: none;
  border: none;
width: 300px;
  font-size: larger;
}

.rechtesfeld {
    position: absolute;
    bottom: 30%;
    right: 200px;
border: 2px solid black;
background-color: none;
height: 300px;
width: 200px;
}